<div class="card">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>
        <form [formGroup]="resetForm" autocomplete="off" novalidate (ngSubmit)="ResetPassword(resetForm.value)">
            <div class="mb-3 row">
                <label for="Password" class="col-form-label col-sm-2">Password:</label>
                <div class="col-md-4">
                    <input type="password" id="Password" formControlName="Password" class="form-control" />
                </div>
                <div class="col-md-6">
                    <em  class="alert alert-danger" *ngIf="validateControl('Password') && hasError('Password', 'required')">Password is required</em>
                    <em class="alert alert-danger" *ngIf="!resetForm.get('Password')?.valid && resetForm.get('Password')?.touched && resetForm.get('Password')?.value.length>0">
                    Password must contain more than 8 characters, 1 upper case letter, and 1
                    special character
                  </em>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="ConfirmPassword" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="col-md-4">
                    <input type="password" id="ConfirmPassword" formControlName="ConfirmPassword" class="form-control" />
                </div>
                <div class="col-md-6">
                    <em   class="alert alert-danger" *ngIf="validateControl('ConfirmPassword') && hasError('ConfirmPassword', 'required')">ConfirmPassword is required</em>
                <em  class="alert alert-danger" *ngIf="passwordMatchError">Password does not match  </em>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetForm.valid" (click)="ResetPassword">Register</button>
                </div>
            </div>
        </form>
    </div>
  </div>

