<div class="dash-header p-2 justify-content-between d-flex p-lg-5">
  <div>
    <h2>
      لوحة الدعم الفني
      <i class="fa-solid fa-headset"></i>
    </h2>
    <p class="description">تابع تقدمك وارقامك من خلال لوحة الدعم الفني
    </p>

  </div>
</div>

<div class="container my-5">
  <div class="row contact-card">
    <!-- Office Information -->
    <div class="col-md-6">
      <div class="">
        <h5>معلومات الاتصال</h5>
        <p class="mb-2"><i class="bi bi-geo-alt-fill"></i>123 شارع الرئيسي, القاهرة, مصر</p>
        <p class="mb-2"><i class="bi bi-telephone-fill"></i>+20123456789 (الخط الساخن للمكتب)</p>
        <p class="mb-0"><i class="bi bi-envelope-fill"></i><a href="mailto:support@tredo.com">support@tredo.com</a></p>
      </div>
    </div>

    <!-- Account Manager Info -->
    <div class="col-md-6">
      <div class="">
        <h5>الدعم الفني</h5>
        <p>معلومات المكتب</p>
        <p class="mb-2"><i class="fa-solid fa-phone"></i> +20123456789</p>
        <p class="mb-2"><i class="fa-brands fa-whatsapp"></i><a href="#"> الدردشة على WhatsApp</a></p>
        <p class="mb-4"><i class="fa-solid fa-envelope"></i><a href="mailto:john.doe@tredo.com"> john.doe@tredo.com</a></p>
        <button class="btn btn-primary"><i class="fa-regular fa-comments"></i> بدء الدردشة </button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="card">
    <div class="col-lg-6">
      <div class="card-body">
    <h5 class="card-title"> معلومات الاتصال</h5>
    <h5 class="card-title">الدعم الفني</h5>
    <p><a href="http://" target="_blank" rel="noopener noreferrer">+20123456789</a></p>
    <a href="http://" target="_blank" rel="noopener noreferrer">Chat on WhatsApp</a>
      <p><a href="#" class="">john.doe@tredo.com</a></p>
  </div>
</div>
<div class="col-lg-6">
  <div class="card-body">
<h5 class="card-title"> معلومات الاتصال</h5>
<h5 class="card-title">الدعم الفني</h5>
<p><a href="http://" target="_blank" rel="noopener noreferrer">+20123456789</a></p>
<a href="http://" target="_blank" rel="noopener noreferrer">Chat on WhatsApp</a>
  <p><a href="#" class="">john.doe@tredo.com</a></p>
</div>
</div>
</div>
</div>
</div> -->
