<div class="landing-why p-5" style="background-image: url(assets/imgs/sincerely.jpg)">
  <div class="p-5 text-center text-lg-end">
    <h4>تفاصيل المقال </h4>
  </div>
</div>
<section class="blog pt-4">
  <div class="container position-relative d-flex flex-column">
    <h4 class="header py-3 position-relative text-white">
      <span>من المدونات</span>
      <img src="assets/imgs/arrow-down.svg" class="position-absolute arrow-down" alt="..">
    </h4>
    <div class="blog-body row align-items-center space-lg-4">
      <div class="row">
        <div class="col-lg-12"><img src="assets/imgs/venti-views-1cqIcrWFQBI-unsplash.jpg" class="w-100 mb-3">
          <h2 class=" mt-3">أسعار الشحن المرتفعة</h2>

          <p class=" mt-3">لقد أدى الطلب المتزايد على السلع في الوقت الحالي بالتزامن مع مشاكل سلسلة التوريد، إلى
            ارتفاع
            أسعار الشحن
            بشكل مستمر، وهو ما جعل من شركات الشحن العالمية واحدة إن لم تكن أكبر رابح في ظل كورونا، وفقا لما جاء على موقع
            Bloomberg.
            حيث تحصّلت شركات الشحن العالمية على أكبر مكاسب لها منذ عام 2008، خاصة في ظل الظروف الصعبة التي تعيشها
            التجارة العالمية تحت وطأة فيروس كورونا.
            وقد اكتسبت سفن الحاويات العملاقة بارتفاع 40 قدما أرباحا مرتفعة، بغض النظر عن نوعها وما تحمله من بضائع وسلع.
            حيث يحمل الاسطول البحري التجاري حوالي 80% من التجارة العالمية، وهو ما أدى إلى تحقيق الأرباح من قبل كل ركن من
            أركان الاقتصاد.
            ويعتبر هذا التحسن في أداء التجارة البحرية أول تحسن ملحوظ منذ الانتكاسة في الأزمة المالية العالمية، والتي
            تعرضت فيها هذه التجارة إلى أعمق ركود عالمي منذ عقود.
            ويعود هذا التحسن إلى أسباب عدة، أهمها:
            إعادة الانفتاح الاقتصادي بشكل تدريجي في ظل ارتفاع ملحوظ في الطلب على السلع والمواد الخام.
            الاضطرابات المتوالية على سلاسل التوريد العالمية، وما تتسبب فيه من اختناق في الموانئ وتأخير في السفن.
            محدودية البضائع المتاحة والتي يتم نقلها عبر المحيطات.
            ونحن إذن نتحدث عن الأرباح الهائلة، فإننا نشير إلى الأرباح اليومية مدفوعة بمستويات قياسية في الأسعار.
            حيث شهدت أسعار الشحن ارتفاعات قياسية وصلت إلى نسبة ارتفاع 500% في أسعار نقل حاوية (40 قدما) من الصين إلى
            أوروبا، وذلك حينما اخترقت حاجز 14 ألف دولار.
            وقد انعكست هذه الارتفاعات على أرباح الشركات، فأعلنت شركة Maersk عن أرباح تقديرية لعام 2021 بقيمة 5 مليارات
            دولارات أمريكية.
            بينما قالت شركة CMA CGM (ثالث أكبر ناقل في العالم):
            “سنقوم بتجميد أسعارنا الفورية، للحفاظ على علاقات عمل طويلة الأجل مع العملاء”
            وذلك في إشارة من الشركة للابتعاد عن تحقيق الأرباح الكبيرة في الحاضر، للحفاظ على قائمة عملاء مخلصين في
            المستقبل.

          </p>
          <p>هل ستستمر هذه الارتفاعات؟؟؟!
            يعتبر هذا التساؤل هو أبرز الأسئلة المطروحة من قبل الشركات والُتجار على حد سواء.
            فعلى الرغم من تحقيق الشركات للارباح، إلا أنها ما زالت تعاني من مشاكل الاختناق والتأخير ومشاكل في حجم
            الحاويات المتاحة.
            بينما يعاني التاجر من مشكلة تأخير حصوله على المواد الخام إن لزمه الأمر، ومشكلة تأخير وصول سلعه وما يتحمله من
            تكاليف مرتفعة إضافية.
            إلا أن التحليلات تشير إلى أن هذه المستويات السعرية ستستمر حتى نهاية العام الحالي على أقرب تقدير، خاصة مع:
            زيادة الطلب على المواد الخام الصناعية.
            وتوقع بقاء الاستهلاك ثابتا.
            المشاكل الأخيرة التي ضربت سلاسل التوريد، وآخرها ما حصل في ألمانيا.
            حيث قد تقود هذه الارتفاعات التي ستزيد من أرباح الشركات إلى أن تقوم ناقلات البضائع السائبة للتفكير بحمل
            الحاويات العملاقة على ظهرها، وهو ما سيشكل خطرا لأنها غير مصممة لهذا الغرض على وجه التحديد.
            بينما عاشت ناقلات النفط ظروفا مخالفة تماما؛
            حيث أدى الاضطراب وانخفاض الطلب على النفط إلى تخفيض الأرباح في بعض الأحيان، وتكبد الخسائر في أحيان أخرى
            لشركات النقل العالمية.
            إلا أن انخفاض مخزونات النفط البرية، يشير إلى امكانية حدوث انتعاش في القريب وفقا للمحللين.
            إلا أنه وحتى وقتنا الحالي، فإن صناعة النقل البحرية تعيش أطول فترة من المكاسب الشهرية المسجلة منذ 11 عاما.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>