<div class="landing-why p-5" style="background-image: url(assets/imgs/vedor-bro.png)">
  <div class="p-5 text-center text-lg-end">
    <h4>لـشركات الشحن</h4>
    <h4>Tredo</h4>
  </div>
</div>
<section class="contact-area sec-mar pb-5">
  <div class="container">
    <div class="row">

    </div>
    <div class="getin-touch">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-6 col-lg-6">
          <div class="contact-form wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
            <h3>شاشة لشركات الشحن

            </h3>
            <div class="row">
              <div class="col-lg-12">
                <h3>اهلاً شريكنا ✋🏼
                </h3>
                <h3>
                  لوصول افضل راسلنا على على البريد

                </h3>
                اضغط هنا<a href="mailto:hello@tredo.biz">business@tredo.biz </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="call-banner">
            <img src="assets/imgs/trade-bro.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-wrap-layout2">
  <div class="container">

  </div>
</section>
