@import "../../../../../assets/scss/partials/colors";
@import "../../../../../assets/scss/abstracts/variables";
body {
  background-color: #f5f5f9 !important;
}
.add-city-component {
  background-color: #f5f5f9;
  .dash-header {
    margin-bottom: 20px;
  }
  .description {
    font-size: 24px !important;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    color: $tredo-gray-2;
    @media (max-width: 992px) {
      font-size: 18px;
    }
  }
  .desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: start;
    @media (max-width: 992px) {
      font-size: 16px;
    }
  }
  .btn-1 {
    padding: 15px 24px !important;
    border: none !important;
    @media (max-width: 500px) {
      padding: 5px !important;
    }
  }
  form {
    .btn-1 {
      border: 2px solid $tredo-primary !important;
      font-weight: 600;
      &:hover {
        border: 2px solid $tredo-primary !important;
      }
    }
    .form-container {
      margin-bottom: 30px;
      background: #ffffff !important;
      border-radius: 1rem;
      padding: 20px;
      .form-header {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
      }
      label {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        .time-span {
          color: #777;
        }
      }
      input,
      select {
        border: 1px solid #e6e6ef;
        background-color: #f2f2f7;
        border-radius: 10px;
        height: 48px;
      }
      .form-border-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #0166c0;
      }
      .form-border {
        border-radius: 34px;
        padding: 30px;
        border: 1px solid #e2e2ee;
      }
    }
    .form-buttons {
      .btn-light {
        padding: 12px 24px;
        border-radius: 30px;
        border: 1px solid #777;
      }
      .btn-danger {
        background: #d60505 !important;
        border-radius: 30px;
        padding: 12px 24px;
        border: none;
        &:hover {
          background: #f73c3c !important;
        }
      }
      .btn-1 {
        padding: 12px 34px !important;
        border-radius: 30px !important;
      }
    }
  }
  .error {
    color: red;
    font-size: 16px;
  }
  .invalid {
    border: 2px solid red !important;
  }
}
