@import "../../../../../assets/scss/partials/colors";
@import "../../../../../assets/scss/en";

.orders-component {
  .dash-header {
    width: 100%;
    position: relative;
  }
  h2 {
    font-size: 24px;
  }
  .description {
    font-family: Tajawal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: $tredo-gray-2;
  }
  .secondary-button {
    background: $tredo-secondary;
    height: 56px;
    width: 243px;
    left: 402px;
    top: 291px;
    border-radius: 30px;
    border: $tredo-secondary;
    @media (max-width: 767px) {
      max-width: 180px;
    }
    @media (max-width: 500px) {
      max-width: 120px;
    }
  }
  .bg-tredo-primary {
    border: $tredo-primary;
    background: $tredo-primary;
  }
  .main-button {
    background: $tredo-primary;
    border-radius: 30px;
    height: 56px;
    width: 173px;
    color: #fff;
    border: $tredo-primary;
    box-shadow: 0px 10px 20px $tredo-primary;
    &:hover {
      transition: all 0.2s ease-in;
      background: $tredo-gray-2;
    }
    span {
      font-family: "Tajawal";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .w-210 {
    width: 210px !important;
    max-width: 100% !important;
    padding: 0;
    margin: 0;
    position: relative;
    button {
      top: 0px;
    }
  }
  .modal-dialog {
    width: 640px;
    max-width: 100%;
    .modal-content {
      border-radius: 67px;
      padding: 28px;
      .modal-title {
        font-family: Tajawal;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
  .modal-img-1 {
    width: 225.36px;
    height: 167.92px;
    @media (max-width: 767px) {
      width: 119px;
      height: 119px;
    }
  }
  .modal-img-2 {
    width: 119px;
    height: 119px;
  }
  .empty-box {
    height: 373px;
    width: 474px;
    max-width: 100%;
    max-height: 100%;
  }

  .orders-list-content {
    padding: 0 35px;
    /* Tabs */
    .p-selectbutton .p-button {
      width: 198px;
      max-width: 100%;
      margin-bottom: 8px;
      height: 100%;
      min-height: 56px;
      max-height: 100% !important;
      margin-inline-end: 12px;
      background: #ffffff;
      border: 1px solid #eaeaea !important;
      border-radius: 15px !important;
      color: #777777;
      transition: all ease 0.2s;
      &:hover {
        background: #092D47;
        border: 0.5px solid #092D47;
        box-shadow: 0px 5px 40px #092d4717;
        color: #F4F4F4;
        border-radius: 15px;
      }
    }

    .p-selectbutton .p-button.p-highlight {
      background: #092D47;
      border: 0.5px solid #092D47;
      box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 black;
      color: #fff;
    }

    .p-datatable-table {
      min-height: 350px;
      th,
      td {
        text-align: right;
        .p-button.p-button-outlined.order-details {
          width: 150px;
          font-size: 12px;
        }
      }
    }
  }

  .choose-btn-div {
    width: 200px;
    .alert-details {
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      color: #fb1b1c;
      top: 0;
      position: relative;
    }
    .choose-btn {
      background: #e84f4b !important;
      color: #fff;
      border-radius: 30px;
      width: 200px;
      height: 56px;
      border: none;
      margin-top: 0 !important;
    }
    .choose-btn:disabled,
    button[disabled] {
      background: #77777750 !important;
      color: #fff;
      border-radius: 30px;
      width: 200px;
      height: 56px;
      border: none;
      position: relative;
      top: 0;
    }
    @media (max-width: 500px) {
      width: 150px;
      .choose-btn {
        width: 150px;
      }
    }
  }
  .choose-alert {
    min-height: 45px;
    width: 428px;
    max-width: 100%;
    left: 50%;
    top: 152px;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 13px 24px 13px 24px;
    position: fixed;
    background: #ff555614;
    color: #ff5556;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    @media (max-width: 992px) {
      top: 8%;
      background: rgb(255, 139, 139);
      color: #fff;
    }
  }
  .step-p {
    font-family: Tajawal;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    color: #092D47;
    margin-inline-end: 8px;
  }

  .q-hover {
    position: relative;
    width: 100%;
    .q-box {
      bottom: calc(100% + 24px);
      position: absolute;
      padding: 12px;
      background-color: #fff;
      min-height: 95px;
      right: calc(100% - 70px);
      left: calc(100% - 70px);
      width: 350px;
      border-radius: 16px;
      border: 1px solid #dddddd;
      @media (max-width: 500px) {
        width: 260px;
      }
    }
    &:hover .q-box {
      display: block !important;
    }
  }
}

.p-paginator {
  direction: ltr;
}
