<div class="landing-why p-5" style="background-image: url(assets/imgs/sincerely.jpg)">
  <div class="p-5 text-center text-lg-end">
    <h4> من مدونة </h4>
    <h4>Tredo</h4>
  </div>
</div>
<section class="blog pt-4">
  <div class="container position-relative d-flex flex-column">
    <h4 class="header py-3 position-relative text-white">
      <span>من المدونة</span>
      <img src="assets/imgs/arrow-down.svg" class="position-absolute arrow-down" alt="..">
    </h4>
    <div class="blog-body row align-items-center space-lg-4">
      <!-- Swiper -->
      <div
        class="swiper-blog col-lg-10 overflow-hidden swiper-initialized swiper-horizontal swiper-rtl swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-20a0cb1616b9b1de" aria-live="polite">
          <div class="col-lg-4 swiper-slide swiper-slide-active" role="group" aria-label="1 / 6"
            style="width: 348.667px; margin-left: 15px;">
            <div class="post p-2">
              <div class="image" style="background-image: url(assets/imgs/3281306.png)"></div>
              <span class="text-muted d-inline-block my-2">30 july 2021</span>
              <p description-blog-post="">
                هناك أقسام متعددة لشحن المنتجات، ومنها الشحن حسب المدة
                المستغرقة&nbsp;،هذا النوع هو الأهم ل ...</p>
              <button type="button" class="btn-3 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                أقرأ المزيد
              </button>
            </div>
          </div>
          <div class="col-lg-4 swiper-slide swiper-slide-next" role="group" aria-label="2 / 6"
            style="width: 348.667px; margin-left: 15px;">
            <div class="post p-2">
              <div class="image" style="background-image: url(assets/imgs/679922.png)"></div>
              <span class="text-muted d-inline-block my-2">30 july 2021</span>
              <p description-blog-post="">
                أسعار الشحن المرتفعة تلتهم ميزانيتك اللوجستية ،وتضعف
                معدلات السيولة لدى تجارتك &rlm;هناك ا ...</p>
              <button type="button" class="btn-3 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                أقرأ المزيد
              </button>
            </div>
          </div>
          <div class="col-lg-4 swiper-slide" role="group" aria-label="3 / 6"
            style="width: 348.667px; margin-left: 15px;">
            <div class="post p-2">
              <div class="image" style="background-image: url(assets/imgs/3142269.png)"></div>
              <span class="text-muted d-inline-block my-2">30 july 2021</span>
              <p description-blog-post="">
                هناك مشاكل الشحن الدولي تجعلك ترغب في تجنب التوسع العالمي
                حتى مع وجود عملاء محتملين من ...</p>
              <button type="button" class="btn-3 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                أقرأ المزيد
              </button>


            </div>
          </div>
          <div class="col-lg-4 swiper-slide" role="group" aria-label="4 / 6"
            style="width: 348.667px; margin-left: 15px;">
            <div class="post p-2">
              <div class="image" style="background-image: url(assets/imgs/679922.png)"></div>
              <span class="text-muted d-inline-block my-2">30 july 2021</span>
              <p description-blog-post="">
                هناك أقسام متعددة لشحن المنتجات، ومنها الشحن حسب المدة
                المستغرقة&nbsp;،هذا النوع هو الأهم ل ...</p>
              <a href="#" class="text-decoration-none d-block me-auto mb-3 w-fit-content">
                <span class="text-muted">أقرأ المزيد</span>
                <img src="assets/imgs/ArrowUpRight.svg" alt="..">
              </a>
            </div>
          </div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>

    </div>
  </div>
</section>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        نعمل ان نكون قريباً هنا بشكل فعّال </div>

    </div>
  </div>
</div>
