<div class="all-merchents-component">
  <!-- p-lg-5 p-2 -->
  <div class="dash-header pt-lg-5 pt-2 container justify-content-between d-flex">
    <div>
      <p class="description">
        <b class="text-black">{{"cities" | translate}}</b>
      </p>
      <p class="desc">{{"headerCitiesPage" | translate}}</p>
    </div>
    <button class="btn-1 h-100" routerLink="/admin/add-city">
      <span>
        {{"CreateCity" | translate}}
      </span>
    </button>
  </div>
  <div>
    <div *ngIf="cities.length == 0" class="d-flex img-card justify-content-center align-items-center">
      <div>
        <img class="main-img" src="assets/imgs/rafiki-search.png" alt="">
        <p class="mt-4 img-desc">{{"notCreatedAnyCity" | translate}}</p>
      </div>
    </div>
    <div *ngIf="cities.length > 0" class="container">
      <div class="form mt-form mt-sm-2">
        <img class="fa-search" width="21" height="21" src="assets/imgs/search.png" />
        <input type="text" [(ngModel)]="searchValue" class="form-control form-input" placeholder="بحث باسم المدينة">
      </div>
      <div class="mt-4 table-responsive companies-table admin-table">
        <table class="table">
          <thead class="table-header">
            <tr>
              <th class="text-center" scope="col">{{"cityName" | translate}}</th>
              <th class="text-center" scope="col">{{"englishName" | translate}}</th>
              <th class="text-center" scope="col">{{"Geocode" | translate}}</th>
              <th class="text-center" scope="col">{{"areaCode" | translate}}</th>
              <th class="text-center" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cityArray | nameFilter:searchValue:cities; let i = index">
              <td class="text-center">
                {{item.nameAr}}
              </td>
              <td class="text-center">
                {{item.nameEn}}
              </td>
              <td class="text-center">
                {{item.geofanceCode}}
              </td>
              <td class="text-center">
                {{item.region.nameAr}}
              </td>
              <td class="text-start">
                <a class="edit mx-1" routerLink="/admin/add-city/{{item.id}}">
                  <i class="fa-regular fa-pen-to-square" style="color: #3d53e1;"></i>
                </a>
                <a class="delete mx-1" (click)="delete(item.id)">
                  <i class="fa-solid fa-trash" style="color: #df0a0a;"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav class="mt-4">
        <ul style="direction: ltr;"
          class="pagination gap-2 d-flex justify-content-start flex-wrap pagination-rounded-flat pagination-success">
          <li class="page-item"><a class="page-link" (click)="pagination('decrease', pageNumber - 1)">
              < </a>
          </li>
          <ng-container *ngFor="let res of pages; let i = index">
            <li [ngClass]="pageNumber === res + 1 ? 'active' : null" class="page-item"
              (click)="pagination('page', res + 1)"><a class="page-link">{{res + 1}}</a></li>
          </ng-container>
          <li class="page-item"><a class="page-link" (click)="pagination('increase', pageNumber + 1)">></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>