$tredo-primary: #092D47;
$tredo-primary-2: #25788E;
$tredo-primary-rgba: 21, 175, 151, 0.25;
$tredo-primary-linear: 215.09deg,
  #092D47 14.58%,
  #71E7D5 100.18%;
$tredo-primary-linear-2: (
  9.95deg,
  #092D47 5.83%,
  #FFFFFF 147.78%),
  #F2F2F7;
$tredo-secondary: #e84f4b;
$tredo-secondary-2: #0166C0;
$tredo-success: #3DCC79;
$tredo-danger: #FB1B1C;
$tredo-black: #000000;
$tredo-overlay: 0,
  0,
  0,
  0.7;
$white: #fff;
$tredo-gray: #767676;
$tredo-gray-2: #777777;
$tredo-gray-3: #E6E6EF;
$tredo-gray-4: #F2F2F7;
$tredo-gray-5: #DCDCEA;
$width: 152px;
$Onewidth: 145px;
