<div class="stepper-wrapper">
  <div class="stepper-item active">
    <div class="step-counter">1</div>
    <div class="step-name">طلب شحن</div>
  </div>
  <div class="stepper-item">
    <div class="step-counter">2</div>
    <div class="step-name">تعميد شركة الشحن</div>
  </div>
  <!-- <div class="stepper-item">
    <div class="step-counter">3</div>
    <div class="step-name">الدفع لشركة الشحن</div>
  </div> -->
</div>

<div class="dash-header p-2 justify-content-between d-flex p-lg-5">
  <div>
    <p class="description">
      <b class="text-black">طلب شحن</b>
      (انشاء الطلبات يدويا)
    </p>
    <p class="desc">برجاء ملئ البيانات التاليه لتتمكن من انشاء طلبك</p>
  </div>
  <button type="button" class="btn btn-sm btn-primary " style="height: fit-content;"
   (click)="Paste()" [disabled]="!Pastable"> لصق الطلب المسبق <i class="fas fa-paste    "></i></button>
</div>

<div class="form container-fluid p-lg-5">
  <div class="row">
    <div class="col-lg-8">
      <form [formGroup]="manualOrdersForm">
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-4">
            <label class="mb-2">
              <b>نوع الشحنة</b>
              اختار واحده من الاتي
            </label>
            <select [class.invalid]="manualOrdersForm.get('shipmentType')?.invalid && isSubmited"
              formControlName="shipmentType" class="form-select" aria-label="Default select example">

              <option *ngFor="let res of shippingArray" [value]="res.id">{{res.nameAr}}
              </option>
            </select>
            <div class="error" *ngIf="
            manualOrdersForm.get('shipmentType')?.invalid
            && (manualOrdersForm.get('shipmentType')?.dirty ||
            isSubmited)
            ">يجب اختيار نوع الشحنة</div>
          </div>
          <div class="col mb-4 d-flex align-items-center justify-content-between">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="cod" formControlName="cod">
              <label class="form-check-label" for="cod">
                تحصيل عند الإستلام
              </label>
            </div>
            <div class="col me-5" *ngIf="manualOrdersForm.get('cod')?.value === true">
              <label class="mb-2 d-flex">
                مبلغ التحصيل من العميل
              </label>
              <input [class.invalid]="manualOrdersForm.get('price')?.invalid && isSubmited" formControlName="price"
                class="form-control" type="number" [required]="manualOrdersForm.get('cod')?.value === true" />
            </div>
          </div>
          <div class="col mb-4">
            <label class="mb-2 d-flex">
              الوزن
              <div class="me-1 q-hover">
                <img src="assets/imgs/help.png" width="20" height="20" alt="">
                <div class="q-box d-none">
                  يجب إدخال الوزن التقريبي للشحنة بالكيلوجرام
                </div>
              </div>
            </label> <input [class.invalid]="manualOrdersForm.get('weight')?.invalid && isSubmited"
              formControlName="weight" class="form-control" type="number" />
            <div class="error" *ngIf="
            manualOrdersForm.get('weight')?.invalid
            && (manualOrdersForm.get('weight')?.dirty ||
            isSubmited)
            ">يجب إدخال الوزن</div>
          </div>
          <div class="col mb-4">
            <label class="mb-2 d-flex">
              الأبعاد
              <div class="me-1 q-hover">
                <img src="assets/imgs/help.png" width="20" height="20" alt="">
                <div class="q-box d-none">
                  الطول * العرض * الإرتفاع
                  إن أمكن
                </div>
              </div>
            </label>
            <input formControlName="dimensions"
            [class.invalid]="manualOrdersForm.get('dimensions')?.invalid && isSubmited"
            class="form-control" type="text" placeholder="الطول*العرض*الإرتفاع" />
          </div>
          <div class="col mb-4">
            <label class="mb-2">المستودع</label>
            <select [class.invalid]="manualOrdersForm.get('warehouseId')?.invalid && isSubmited"
              formControlName="warehouseId" class="form-select" aria-label="Default select example">
              <ng-container *ngFor="let warehouse of warehousesData">
                <option [value]="warehouse?.id">{{warehouse?.nameTag}}</option>
              </ng-container>
            </select>
            <div class="error"
              *ngIf=" manualOrdersForm.get('warehouseId')?.invalid && (manualOrdersForm.get('warehouseId')?.dirty ||  isSubmited) ">
              يجب اختيار المدينة</div>
          </div>
          <div class="col mb-4">
            <label class="mb-2">المدينة المرسل منها</label>
            <select [class.invalid]="manualOrdersForm.get('cityIdFrom')?.invalid && isSubmited"
              formControlName="cityIdFrom" class="form-select" aria-label="Default select example">
              <ng-container *ngFor="let city of citiesData">
                <option [value]="city?.id">{{city?.nameAr}}</option>
              </ng-container>
            </select>
            <div class="error"
              *ngIf=" manualOrdersForm.get('cityIdFrom')?.invalid && (manualOrdersForm.get('cityIdFrom')?.dirty ||  isSubmited) ">
              يجب اختيار المدينة المرسل منها الشحنة</div>
          </div>
        </div>
        <div formGroupName="reciverAddress" class="border mt-5 form-border">
          <h3 class="form-header">عنوان المستقبل:</h3>
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <label class="mb-2">الاسم</label>
              <input [class.invalid]="reciverAddress.get('name')?.invalid && isSubmited" formControlName="name"
                class="form-control" type="text" />
              <div class="error" *ngIf="
              reciverAddress.get('name')?.invalid
            && (reciverAddress.get('name')?.dirty ||
            isSubmited)
            ">يجب كتابة اسم المستقبل</div>
            </div>
            <div class="col mb-4">
              <label class="mb-2">رقم الهاتف</label>
              <input [class.invalid]="reciverAddress.get('phone')?.invalid && isSubmited" formControlName="phone"
                class="form-control" type="text" />
              <div class="error" *ngIf="
                reciverAddress.get('phone')?.invalid
              && (reciverAddress.get('phone')?.dirty ||
              isSubmited)
              ">يجب كتابة رقم هاتف</div>
            </div>
            <div class="col mb-4">
              <label class="mb-2">البريد الإلكتروني</label>
              <input [class.invalid]="reciverAddress.get('email')?.invalid && isSubmited" formControlName="email"
                class="form-control" type="email" />
            </div>
            <div class="col mb-4">
              <label class="mb-2">المدينة</label>
              <select [class.invalid]="reciverAddress.get('cityIdTo')?.invalid && isSubmited" formControlName="cityIdTo"
                class="form-select" aria-label="Default select example">
                <ng-container *ngFor="let city of citiesData">
                  <option [value]="city?.id">{{city?.nameAr}}</option>
                </ng-container>
              </select>
              <div class="error" *ngIf="
                reciverAddress.get('cityIdTo')?.invalid
                  && (reciverAddress.get('cityIdTo')?.dirty ||
                  isSubmited)
                  ">يجب اختيار المدينة</div>
            </div>
            <div class="col mb-4">
              <label class="mb-2">العنوان</label>
              <input [class.invalid]="reciverAddress.get('street')?.invalid && isSubmited" formControlName="street"
                class="form-control" type="text" />
              <div class="error" *ngIf="
                reciverAddress.get('street')?.invalid
                  && (reciverAddress.get('street')?.dirty ||
                  isSubmited)
                  ">يجب كتابة اسم الشارع</div>
            </div>
          </div>
          <!-- <h3 class="form-header">العنوان الوطني:</h3>
          <div formGroupName="nationalAddress" class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <label class="mb-2">بيانات العنوان الوطني</label>
              <input [class.invalid]="nationalAddress.get('storeName1')?.invalid && isSubmited"
                formControlName="storeName1" class="form-control" type="text" />
              <div class="error" *ngIf="
                  nationalAddress.get('storeName1')?.invalid
                  && (nationalAddress.get('storeName1')?.dirty ||
                  isSubmited)
                  ">يجب كتابة بيانات العنوان الوطني</div>
            </div>
          </div> -->
        </div>
        <div class="mt-5">
          <h3 class="form-desc">وصف الشحنة</h3>
          <textarea [class.invalid]="manualOrdersForm.get('shipmentdescription')?.invalid && isSubmited"
            formControlName="shipmentdescription" class="form-control"></textarea>
        </div>
        <div class="last-alert alert alert-danger" *ngIf="alert" [class.alert-success]="alert.length < 30">
          <img *ngIf="alert.length < 30" class="ms-2" width="28" height="28" src="assets/imgs/alert-mark.png" alt="">
          <span class="d-inline">{{alert}}</span>
        </div>
        <div class="mt-fixed d-sm-flex">
          <button [disabled]="!manualOrdersForm.valid" (click)="submitOrderData()" type="button"
            class="text-decoration-none second-button my-sm-0 mt-3 py-3 px-5">
            اختيار شركة الشحن
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-4 d-none d-lg-block">
      <img src="assets/svg/signup.png" alt="" class="form-img">
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-chose m-0 m-sm-auto modal-dialog-centered">
    <div class="modal-content">
      <h2 class="modal-title">اختار واحدة من هذه الطريقتين</h2>
      <div class="modal-body">
        <div class="row">
          <div class="col d-flex flex-column align-items-center">
            <img class="m-auto modal-img-1" width="225.36" width="200" src="assets/svg/signup.png" alt="">
            <button routerLink="/merchents/manual-order" class="secondary-button mt-3 text-white"
              data-bs-dismiss="modal">
              <span>
                عمل الطلبات يدويا
              </span>
            </button>
          </div>
          <div class="col d-flex flex-column justify-content-between align-items-center">
            <img class="m-auto modal-img-2" width="150" src="assets/svg/excel.png" alt="">
            <button data-bs-dismiss="modal" routerLink="/merchents/excel-order"
              class="secondary-button bg-tredo-primary bmt-3 text-white">
              <span>
                رفع الطلبات من ملف اكسيل
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
