// @import "../../../../../assets/scss/abstracts/_variables";

.wrapper {
  margin: 10px auto;
  padding: 10px 30px;
  text-align: center;
}

.btn-1 {
  padding: 10px 20px;
  background: #092D47;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  border-bottom: 1px solid #092D47;
}

.btn-1:hover {
  padding: 10px 20px;
  background: #fff;
  color: #092D47;
  text-decoration: none;
}

.navbar {
  padding: 0.5rem 0rem;
}

.navbar .navbar-brand {
  font-size: 30px;
}

#income {
  border-right: 1px solid #333;
}

.notify {
  display: none;
}

.nav-item .nav-link .fa-bell-o,
.fa-long-arrow-down,
.fa-long-arrow-up {
  padding: 10px 10px;

  border-radius: 50%;
  position: relative;
  font-size: 18px;
}

.nav-item .nav-link .fa-bell-o::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffc0cb;
  right: 10px;
  top: 10px;
}

.nav-item input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 3px 8px;
  width: 75%;
  color: #222;
}

.nav-item .fa-search {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.navbar-nav:last-child {
  display: flex;
  align-items: center;
  width: 40%;
}

.navbar-nav .nav-item {
  padding: 0px 0px 0px 10px;
}

.navbar-brand p {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
}

.text {
  color: #333;
}

.money {
  font-family: "Lato", sans-serif;
}

.fa-long-arrow-down,
.fa-long-arrow-up {
  padding-left: 12px;
  padding-top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 100;
  color: #28df99;
}

.fa-long-arrow-up {
  color: #ffa500;
}

.nav.nav-tabs {
  border: none;
}

.nav.nav-tabs .nav-item .nav-link {
  color: #333;
  border: none;
}

.nav.nav-tabs .nav-link.active {
  border: none;
  color: #444;
  border-bottom: 4px solid #fff;
}

.nav.nav-tabs .nav-item .nav-link:hover {
  border: none;
  color: #222;
}

.nav.nav-tabs .nav-item .nav-link.active:hover {
  border-bottom: 4px solid #fff;
}

.nav.nav-tabs .nav-item .nav-link:focus {
  border-bottom: 4px solid #fff;
  color: #fff;
}

.table-dark {
}

.table thead th {
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
}

.table thead th,
.table td,
.table th {
  border: none;
  overflow: auto auto;
}

td .fa-briefcase,
td .fa-bed,
td .fa-exchange,
td .fa-cutlery {
  color: #ff6347;

  padding: 5px;
  border-radius: 50%;
}

td .fa-bed,
td .fa-cutlery {
  color: #40a8c4;
}

td .fa-exchange {
  color: #b15ac7;
}

tbody tr td .fa-cc-mastercard,
tbody tr td .fa-cc-visa {
  color: #333;
}

tbody tr td.text-muted {
  font-family: "Lato", sans-serif;
}

tbody tr td .fa-long-arrow-up,
tbody tr td .fa-long-arrow-down {
  font-size: 12px;
  padding-left: 7px;
  padding-top: 3px;
  height: 20px;
  width: 20px;
}

.results span {
  color: #333;
  font-size: 12px;
}

.results span b {
  font-family: "Lato", sans-serif;
}

.pagination .page-item .page-link {
  color: #444;
  padding: 0.3rem 0.75rem;
  border: none;
  border-radius: 0;
}

.pagination .page-item .page-link span {
  font-size: 16px;
}

.pagination .page-item.disabled .page-link {
  background-color: #333;
  color: #222;
  cursor: crosshair;
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    margin: auto;
  }

  .navbar-nav:last-child {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  .notify {
    display: inline;
  }

  .nav-item .fa-search {
    padding-left: 10px;
  }

  .navbar-nav .nav-item {
    padding: 0px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .wrapper {
    margin: auto;
  }

  .navbar-nav:last-child {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  .notify {
    display: inline;
  }

  .nav-item .fa-search {
    padding-left: 10px;
  }

  .navbar-nav .nav-item {
    padding: 0px;
  }

  #income {
    border: none;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 10px 15px;
    margin: auto;
  }

  .btn {
    font-size: 12px;
    padding: 10px;
  }

  .nav.nav-tabs .nav-link {
    padding: 10px;
  }
}

::ng-deep {
  .p-datatable {
    .p-datatable-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h5,
      p {
        margin: 0;
      }
    }

    th,
    td {
      text-align: right !important;

      .p-button-outlined {
        width: 40px;
        height: 40px;
        margin: 0 10px;
      }
    }

    .emptyMessage {
      text-align: center !important;
      .p-button {
        width: auto;
        height: 45px;
        margin-top: 10px;
        .p-button-label {
          margin-inline-start: 10px;
        }
      }
    }

    .p-paginator {
      direction: ltr;
    }
  }
}





@import "../../../../../assets/scss/partials/colors";
h2 {
  font-size: 24px;
}

.description {
  font-family: Tajawal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: $tredo-gray-2;
}

.card {
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
  height: 92px;
  border: 0;
  text-align: center;
  img {
    height: 24px;
    width: 27px;
    border-radius: 0px;
  }
  .card-title {
    font-family: Tajawal;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    color: $tredo-gray;
  }
  .card-desc {
    font-family: Tajawal;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: $tredo-primary;
  }
}

@media (min-width: 1040px) {
  .parent {
    width: 50%;
  }
}

.asd {
  width: 20%;
}

.p {
  display: flex;
  gap: 20px;
}

@media (max-width: 500px) {
  .asd {
    width: 100%;
  }
  .p {
    flex-direction: column;
    gap: 0;
  }
}

.select {
  border: 1px solid $tredo-gray-3;
  background-color: $tredo-gray-4;
  border-radius: 10px;
}

.main-button {
  background: $tredo-primary;
  border-radius: 30px;
  height: 56px;
  min-width: 173px;
  color: $white;
  max-width: 100%;
  border: $tredo-primary;
  box-shadow: 0px 10px 20px $tredo-primary;
  &:hover {
    transition: all 0.2s ease-in;
    background: $tredo-gray-2;
  }
  span {
    font-family: "Tajawal";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}

.chartText {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: $tredo-primary;
  background: rgba(21, 175, 151, 0.08);
  border-radius: 30px;
  text-align: center;
  padding: 16px 25px;
  @media (max-width: 992px) {
    font-weight: 500;
    font-size: 18px;
  }
}

.chartTextred {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 5px;
  color: $tredo-danger;
  background: rgba(251, 27, 28, 0.08);
  border-radius: 30px;
  text-align: center;
  padding: 16px 25px;
  @media (max-width: 992px) {
    font-weight: 500;
    font-size: 18px;
  }
}

.bor {
  background: $white;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 13px;
  background: $white;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 13px;
}

.bord {
  background: $white;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 13px;
  background: $white;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 13px;
  width: 485px;
}

.R-postion {
  position: relative;
}

.Abs-position {
  position: absolute;
}

.GAP {
  gap: 15px;
}

.OneWidth {
  width: $Onewidth;
}
.modal-success{
  .btn-1{
    border: none;
  }
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recta .recta-check {
  width: 100%;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s all ease-in;
}
.recta .recta-div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recta-check.active {
  background-color: #092d4717;
  border-radius: 10px;
  border: 2px solid #092D47!important;
}
.recta-check:hover {
  background-color: #092d4717;
  border-radius: 10px;
  border: 2px solid #092D47!important;
}
.recta-div-inp {
  padding: 0;
}
.modal-dialog {
  width: 640px;
  max-width: 100%;
  .modal-content {
    border-radius: 67px;
    padding: 28px;
    .modal-title {
      font-family: Tajawal;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
.modal-img-1 {
  width: 225.36px;
  height: 167.92px;
  @media (max-width: 767px) {
    width: 119px;
    height: 119px;
  }
}
.modal-img-2 {
  width: 119px;
  height: 119px;
}
.empty-box {
  height: 373px;
  width: 474px;
  max-width: 100%;
  max-height: 100%;
}
