<main class="login-component">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 reg-form-section">
        <h1 class="fw-bold mb-4">
          <span class="mx-2"> استرجع كلمة المرور </span>
          <span class="mx-2 text-second">الخاص بيك </span>
        </h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          {{successMessage}}
        </div>

        <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
          (ngSubmit)="SendOtp(forgotPasswordForm.value)">
          <div class="mb-3 row">
            <label for="" class="mb-3 fs-6">البريد الالكتروني*</label>
            <input type="email" id="email" formControlName="email" class="form-control py-2" />
            <em class="alert alert-danger" *ngIf="validateControl('email') && hasError('email', 'required')">ادخل
              الايميل</em>
            <em class="alert alert-danger" *ngIf="validateControl('Email') && hasError('Email', 'Email')">Please
              تقديم بريد إلكتروني صالح</em>

          </div>
          <br>

          <button type="submit" class="btn-1 w-100 py-3" [disabled]="!forgotPasswordForm.valid">
            ارسال الايميل </button>
        </form>
      </div>
      <div class="col-lg-6 reg-img d-none d-lg-grid align-items-center justify-content-center">
        <img src="assets/imgs/Forgot password-cuate.png" alt="">
      </div>
    </div>
  </div>
</main>
