<div class="landing-why p-5" style="background-image: url(assets/imgs/why-first-section.png)">
  <div class="p-5 text-center text-lg-end">
    <h4>لماذا</h4>
    <h4>Tredo</h4>
  </div>
</div>
<div class="container">

  <div class="d-flex flex-wrap py-5">
    <div class="ps-5 section-side">
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link text-dark fw-bold about-line  active" id="v-pills-home-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
            aria-selected="true">لماذا
            Tredo</button>
          <button class="nav-link text-dark fw-bold about-line " id="v-pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
            aria-selected="false">الاسئلة الشائعة</button>
          <button class="nav-link text-dark fw-bold about-line " id="v-pills-messages-tab" data-bs-toggle="pill"
            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
            aria-selected="false">الشروط و الاحكام</button>
        </div>
      </div>
    </div>

    <div class="section-content">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="mb-5 px-5">
            <div class="box mb-5" customer-hash="">
              <div class="d-flex align-items-center gap-3 header-info">
                <img src="assets/imgs/customer-service.svg" alt="">
                <h4 class="mb-0">خدمة عملاء 24/7</h4>
              </div>
              <p class="my-4">
                تحت أي ظرف، وفي أي وقت سيكون فريق تواصل pay ship معك ، وعلى بعد خطوة منك ، لتحقيق انطلاق شحناتك حتى
                استلامها
                من عملائك مروراً بمحطات التخزين ، والتوصيل ، والدفع ،، كل هذا بأعلى درجات المهنية والإحترافية وهذا من
                خلال
                قنواتنا التالية : بريد دعم العملاء ، حسابنا في تويتر ، الرسائل المباشرة من خلال الموقع ، الواتساب
              </p>
              <ul class="me-4">
                <li class="my-2"><b>
                    بريد دعم العملاء: <i class="fa-regular fa-envelope fs-5" style="color: #3cc389;"></i> <a
                      href="mailto:Hello@tredo.biz" style="text-decoration: none; padding-right: 10px;">اضغط هنا</a>
                  </b></li>
                <li class="my-2"><b> الواتساب : <i class="fa-brands fa-whatsapp fs-5 pl-2" style="color: #3cc389;"></i>
                    <a href="https://wa.me/544363719" style="text-decoration: none; padding-right: 10px;">اضغط هنا</a>
                  </b>
                </li>
                <!-- <li class="my-2"><b>الرسائل الشات من خلال الموقع : <i class="fa-regular fa-comment fs-5 pl-2"
                      style="color: #3cc389;"></i> <a href="https://wa.me/544363719"
                      style="text-decoration: none; padding-right: 10px;">اضغط
                      هنا</a></b></li> -->
                <li class="my-2"><b>حسابنا في تويتر : <i class="fa-brands fa-twitter fs-5 pl-2"
                      style="color: #3cc389;"></i>
                    <a href="https://twitter.com/pay_ship_?s=11&t=klHfSLxAF-JoUQCwwx8SXw"
                      style="text-decoration: none; padding-right: 10px;">اضغط هنا</a></b>
                </li>
              </ul>
            </div>

            <div class="box mb-5 pt-4">
              <div class="d-flex align-items-center gap-3 header-info">
                <img src="assets/imgs/money.svg" alt="">
                <h4 class="mb-0">اسعار حصرية وتنافسية</h4>
              </div>
              <p class="my-4">
                نسعى دائما في pay ship في إعادة النظر بالاسعار المقدمة من شركائنا شركات الشحن والتوصيل والخدمات
                اللوجستية ،
                بما يحقق كفاءة وجودة الانفاق على عملياتك..
              </p>
            </div>

            <div class="box mb-5 pt-4">
              <div class="d-flex align-items-center gap-3 header-info">
                <img src="assets/imgs/proccess.svg" alt="">
                <h4 class="mb-0">تحليل العمليات</h4>
              </div>
              <p class="my-4">
                نجمع البيانات ، ثم نعمل على هيكلتها وتحليلها ، للوصول الى أرقام ومؤشرات تساعدك في اتخاذ قرارت ترفع من
                مستوى
                جودة الخدمة والربحية والمنافسة ، واستدامه طويله..
              </p>
            </div>

            <div class="box mb-5 pt-4">
              <div class="d-flex align-items-center gap-3 header-info">
                <img src="assets/imgs/infrastructure.svg" alt="">
                <h4 class="mb-0">بنية تحتية تقنية</h4>
              </div>
              <p class="my-4">
                نوظف أفضل التقنيات وأساليب الذكاء الاصطناعي لنحقق معك احدث التطورات في مجال الخدمات اللوجستية ،
                والمدفوعات ،
                والتي يمكنك توظيفها ايضاً على برمجياتك الخاصة..
              </p>
            </div>

            <div class="box mb-5 pt-4" security-hash="">
              <div class="d-flex align-items-center gap-3 header-info">
                <img src="assets/imgs/safe.svg" alt="">
                <h4 class="mb-0">امان وضمان للمدفوعات</h4>
              </div>
              <p class="my-4">
                نضمن افضل المعايير الحديثة في كفاءة ادارة مدفوعاتك ومتحصلاتك ، من خلال القنوات الآمنه والمتعددة السهله ،
                وافضل السبل لتمويل مدفوعات ..
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="mb-5 px-5">
            <div class="box mb-5" customer-hash="">
              <div class="d-flex align-items-center gap-3 header-info">
                <img src="assets/imgs/9718352.png" alt="">
                <h4 class="mb-0">سياسة الخصوصية باي شيب
                </h4>
              </div>
              <p class="my-4">
                 تصف سياسة الخصوصية هذه الخاصة بنظام باي شيب، بمزيد من التفصيل في ممارسات الخصوصية وفي جمع وصيانة
                واستخدام المعلومات التي تم جمعها منك كشخصية فردية او اعتبارية، نحن نتعامل مع خصوصية عملائنا وعملائهم على
                محمل الجد. نحن لا نشارك أبدًا معلومات عملائنا او عملائهم تحت أي ظرف من الظروف، ما لم يكن ذلك مطلوبًا
                لإكمال المعاملة المتعاقد عليها مع العميل. بالإضافة إلى ذلك، نطلب من عملائنا عند الاقتضاء، التعهد باحترام
                جميع قوانين حماية البيانات ذات الصلة
                فباستخدامك باي شيب، نحن ملتزمون بالحفاظ على بياناتك ومعلومات الشخصية. كما توضح سياسة الخصوصية بموجبها
                قواعد باي شيب فيما يتعلق بجمع البيانات الشخصية واستخدامها والإفصاح عنها عند استخدام خدمتنا في حال كنت
                متواجد على الموقع، او التطبيق لمستخدمين نظام أي او اس، او التطبيق لمستخدمين نظام اندرويد، او اذا كنت
                مستخدم احد انظمتنا المعمولة والمعدلة لاستخدامك الشخصي او الاعتباري .
                تاريخ النفاذ: 9 سبتمبر 2021
              </p>
              <div class="d-flex align-items-center gap-3 header-info">
                <h4 class="mb-0"> أ - النطاق
                </h4>
              </div>
              <p class="my-4">
                تنطبق هذه السياسة على مواقعنا ومنتجاتنا وخدماتنا (يشار إليها مجتمعة باسم "الخدمات") التي ترتبط بهذه
                السياسة، كما يشمل نطاق هذه السياسة لكل من يستخدم خدمات باي شيب في أي مكان في المملكة العربية السعودية،
                سواء على تطبيقات باي شيب، أو مواقع الويب ،أو الميزات أو الخدمات او الأنظمة الأخرى. استخدامنا لتلك
                البيانات هو لتوفير الخدمة وتحسينها، وأنت توافق على منح باي شيب الحق بجمع واستخدام المعلومات وفقًا لهذه
                السياسة.
                <b>نحن لا نبيع أو نشارك معلوماتك الشخصية مع أطراف ثالثة لاستخداماتهم التجارية الخاصة</b>
              </p>

              <div class="d-flex align-items-center gap-3 header-info">
                <h4 class="mb-0">ب - البيانات المقدمة من قبل المستخدمين.

                </h4>
              </div>
              <p class="my-4">
                فيما يتعلق بالوصول إلى خدماتنا، نقوم بجمع المعلومات الشخصية، عندما يقوم المستخدمون بإنشاء أو تحديث
                حسابات باي شيب الخاصة بهم. قد يشمل ذلك الاسم أو البريد الإلكتروني أو رقم الهاتف/الموبايل أو اسم تسجيل
                الدخول وكلمة المرور، أو العنوان، أو الدفع، أو المعلومات المصرفية (بما في ذلك معلومات التحقق من الدفع ذات
                الصلة) وتاريخ الميلاد، نقوم بجمع المعلومات أو تلقيها بطريقة أخرى عندما تقوم بالتسجيل أو فتح حساب، أو
                تسجيل الدخول، أو دفع الرسوم، أو شراء أو استخدام خدمة ما، أو الاتصال بنا للحصول على الدعم ، أو إرسال
                ملاحظات إلينا. قد نحصل أيضًا على معلومات من شركات أخرى أو أطراف ثالثة، على سبيل المثال عندما تقوم
                بمزامنة حساب أو خدمة لطرف ثالث مع حساب الخاص بك، أو عندما نستخدم مزودي الخدمة لتكملة المعلومات الشخصية
                التي تقدمها لنا (على سبيل المثال، التحقق من صحة عنوانك البريدي) لمساعدتنا في الحفاظ على دقة بياناتك
                وتقديم خدمة أفضل لك. قد نجمع محتوى أو معلومات أخرى قد تقدمها أو تنشئها عندما تتفاعل مع خدماتنا.

                قد نقوم تلقائيًا بجمع معلومات استخدام معينة عند وصولك إلى خدماتنا ("بيانات الاستخدام")، مثل عناوين
                بروتوكول الإنترنت ("IP") ، وملفات السجل ، ومعرفات الجهاز الفريدة ، والصفحات التي تم عرضها ، ونوع المتصفح
                ، وأي روابط تنقر عليها لتغادر أو التفاعل مع خدماتنا ومعلومات الاستخدام الأخرى التي يتم جمعها من ملفات
                تعريف الارتباط وتقنيات التتبع الأخرى ، لمراقبة المواقع التي ينتقل منها المستخدمون إلى خدماتنا. قد نقوم
                أيضًا بجمع عناوين IP من المستخدمين عندما يقومون بتسجيل الدخول إلى الخدمات كجزء من ميزات تسجيل الدخول
                والأمان الخاصة بنا.

                كما نقوم بجمع المعلومات التي يرسلها المستخدمون عند اتصالهم بدعم عملاء باي شيب، أو تقديم تقييمات أو فتح
                مذكرات أو شكاوي. قد يشمل ذلك الملاحظات أو الصور الفوتوغرافية أو التسجيلات الأخرى التي يجمعها المستخدمون
              </p>
              <h5>البيانات التي تم إنشاؤها أثناء استخدام خدماتنا </h5>
              <p>
                نقوم بجمع معلومات المعاملة المتعلقة باستخدام خدماتنا، بما في ذلك نوع الخدمات المطلوبة أو المقدمة وتفاصيل
                الطلب ومعلومات التسليم والاستلام والتاريخ والوقت الذي قدمت فيه الخدمة والمبلغ المحسوب والمسافة المقطوعة
                وطريقة الدفع ، وبيانات بوليصة الشحن ، وتتبع الشحنة ، موقع الفروع ، ،المستودعات .
              <h5>بيانات الاستخدام</h5>
              <p>نقوم بجمع بيانات حول كيفية تفاعل المستفيدين والمستخدمين مع خدماتنا. يتضمن ذلك بيانات مثل تواريخ الوصول
                وأوقاته، ونوع المتصفح، ومواقع أو خدمات الجهات الخارجية المستخدمة قبل التفاعل مع خدماتنا. في بعض الحالات،
                نجمع هذه البيانات من خلال ملفات تعريف الارتباط والبكسل والعلامات وتقنيات التتبع المماثلة التي تنشئ
                وتحافظ على معرفات فريدة. </p>
              <h4>
                ت - كيف نستخدم البيانات الشخصية

              </h4>
              <p>
                <b>1 ) كيف نستخدم معلوماتك.</b>

                  قد نستخدم معلوماتك، بما في ذلك معلوماتك الشخصية، للأغراض التالية:

                تسجيل حساب.  قد نستخدم اسمك تفاصيل عنوانك كشخص اعتباري، او طبيعي، ورقم هاتفك ومعلومات الفوترة وعنوان
                بريدك الإلكتروني لتسجيل حسابك في خدمات معينة نقدمها لك ولإبلاغك بمعلومات مهمة. قد نحصل على معلومات
                شخصية إضافية عنك، مثل معلومات تغيير العنوان، من المصادر المتاحة تجاريًا، للحفاظ على تحديث سجلاتنا. إذا
                قمت بإنشاء حساب مسؤول يمكن الوصول إليه من قبل أشخاص غيرك، فيرجى ملاحظة أنهم قد يرون ولديهم القدرة على
                تغيير أو حذف معلوماتك الشخصية. يرجى توخي الحذر لمن تمنح وصول المسؤول، لأنك مسؤول عن أفعالهم.

                لتقديم خدماتنا وتشغيل أعمالنا.  قد نستخدم معلوماتك لتشغيل أعمالنا، بما في ذلك تقديم الخدمات التي
                طلبتها، وتزويدك بالدعم المتعلق بخدماتنا ، ولمساعدتنا في حماية خدماتنا ، (مثل خدمة العملاء ) ، بما في
                ذلك مكافحة الاحتيال وحماية معلوماتك .

                خدمة العملاء والدعم الفني.  قد نستخدم اسمك وعنوانك ورقم هاتفك وعنوان بريدك الإلكتروني وكيفية تفاعلك مع
                خدماتنا ومعلومات حول تكوين جهاز الحاسوب الخاص بك لحل الأسئلة التي قد تكون لديك حول خدماتنا وللمتابعة
                معك بشأن تجربتك. نقدم أيضًا العديد من خدمات الدردشة عبر الإنترنت، على سبيل المثال، للتحدث مع ممثل دعم
                عملاء. عمليات إرسال الدردشة عبر الإنترنت مشفرة، لكن لا ينبغي لك تقديم معلومات شخصية أكثر مما هو مطلوب
                لمعالجة مشكلتك المحددة. قد يتم الاحتفاظ بنسخة من الجلسة لحل الأسئلة أو المشكلات المتعلقة بخدماتنا.

                التواصل معك وإخبارك عن الخدمات الأخرى.  قد نستخدم معلوماتك للتواصل معك بشأن خدماتنا ولتزويدك بعروض
                لمنتجات وخدمات طرف ثالث نعتقد أنها قد تكون مفيدة لك.

                لتحسين الخدمات وتطوير خدمات جديدة.  سنستخدم معلوماتك لتخصيص أو تخصيص تجربتك والخدمة، وتطوير ميزات أو
                خدمات جديدة، وتحسين الجودة الشاملة لخدماتنا.

                تعليق.  قد نستخدم أي معلومات تتطوع بها في الاستبيانات التي تجيب عليها من أجلنا ودمجها مع إجابات من
                عملاء آخرين من أجل فهم خدماتنا بشكل أفضل وكيف يمكننا تحسينها. الإجابة على أي استطلاع أمر اختياري

                إجراء العمليات الداخلية الدورية واللازمة لتقديم خدماتنا، بما في ذلك استكشاف أخطاء البرامج والمشاكل
                التشغيلية؛ لإجراء تحليل البيانات والاختبار والبحث والتطوير؛ ومراقبة وتحليل اتجاهات الاستخدام والنشاط.

                الإجراءات القانونية والمتطلبات. قد نستخدم البيانات الشخصية التي نجمعها للتحقيق، أو معالجة المطالبات،
                أو المنازعات المتعلقة، أو وفقًا لما هو مسموح به في القانون المعمول به، أو بناءً على طلب المنظمين
                والجهات الحكومية والاستفسارات الرسمية
              </p>
              <p>
                <b>2 ) كيف نشارك معلوماتك الشخصية</b>
                نحن نشارك المعلومات الشخصية فقط بالطرق التي نخبرك بها. نحن لا نبيع أو نؤجر المعلومات الشخصية لأطراف
                ثالثة ولا نشارك المعلومات الشخصية مع أطراف ليست مملوكة لنا ولا تحت سيطرتنا أو توجيهاتنا باستثناء ما هو
                موضح في هذه السياسة.

                مقدمو خدمات الطرف الثالث. قد نشارك معلوماتك، بما في ذلك المعلومات الشخصية وبيانات الاستخدام، مع مزودي
                خدمات الطرف الثالث الذين يؤدون وظائف مختلفة لتمكيننا من تقديم خدماتنا ومساعدتنا في إدارة أعمالنا، مثل
                تصميم مواقع الويب، وإرسال اتصالات البريد الإلكتروني ، والاتصالات الهاتفية ، والرسائل النصية القصيرة (
                الرسائل النصية) ، والإعلان ، واكتشاف الاحتيال والوقاية منه ، وخدمة العملاء ، واستطلاعات رأي الأطراف
                الثالثة أو إجراء التحليلات. يُسمح لهذه الشركات باستخدام معلوماتك الشخصية فقط عند الضرورة لتقديم هذه
                الخدمات إلينا. تتطلب عقودنا مع هذه الأطراف الثالثة الحفاظ على سرية المعلومات الشخصية التي نقدمها لهم،
                والتصرف فقط نيابة عنا ووفقًا لتعليماتنا، وعدم استخدام المعلومات الشخصية لأغراض أخرى غير المنتج أو الخدمة
                التي يقدمونها لنا. أو نيابة عنا.

                استخدام خدمات الناقل عبر منصتنا هو على مسؤوليتك الخاصة. نحن لسنا مسؤولين عن استخدامك لخدمات الناقل. يعد
                استخدامك لخدمات الناقل كعميل مباشر لشركة النقل المحددة التي تختارها وتوافق على الالتزام ببنود وشروط ذلك
                الناقل لاستخدام الخدمات. من خلال تقديم المعلومات إلى بعض خدمات الناقل، فإنك تفهم وتوافق على جمع واستخدام
                ومعالجة الكشف عن هذه المعلومات ونقلها والتي قد يكون لديها ممارسات مختلفة لحماية البيانات. تخضع تفاعلاتك
                مع شركات الخدمة هذه لسياسة الخصوصية الخاصة بكل شركة نقل.



                .  نشارك معلوماتك، بما في ذلك معلوماتك الشخصية، مع الشركات التابعة لنا وفيما بينها، باستثناء الحالات
                التي يحظرها القانون. الشركات التابعة تعني الشركات المرتبطة بالملكية أو السيطرة المشتركة. تشمل الأسباب
                التي تجعلنا نشارك معلوماتك لأغراض عملنا اليومية، مثل: معالجة معاملاتك، والحفاظ على حساباتك، وتشغيل
                أعمالنا ، وما إلى ذلك. وقد نشارك أيضًا معلومات حول معاملاتك وخبراتك حتى نتمكن من تشغيل أعمالنا بفعالية
                واكتشاف ومنع الاحتيال وتحسين خدماتنا.



                نحن شركاء مع أطراف إما لعرض الإعلانات على موقعنا على الويب أو لإدارة إعلاناتنا على مواقع أخرى. قد يستخدم
                شركاؤنا الخارجيون تقنيات مثل ملفات تعريف الارتباط لجمع معلومات حول أنشطتك على هذا الموقع والمواقع الأخرى
                من أجل تزويدك بالإعلانات بناءً على أنشطة التصفح واهتماماتك. إذا كنت لا ترغب في استخدام هذه المعلومات
                لغرض تقديم الإعلانات القائمة على الاهتمامات، فيمكنك 1) مسح ذاكرة التخزين المؤقت أو 2) إلغاء الاشتراك من
                خلال خدمة جهة خارجية  بالنقر هنا . يرجى ملاحظة أن هذا لا يلغي اشتراكك في عرض الإعلانات. ستستمر في تلقي
                إعلانات عامة
              </p>
              <p>
                <b>كيف نقوم بحفظ المعلومات </b>

                نحن نقوم باستخدام الطرق الآمنة المعتمدة محلياً لجمع البيانات وتخزينها وتحليلها، وذلك بهدف منع الوصول
                اليها من أطراف غير مخول لهم وكذلك لمنع تعديلها او تدميرها او الافصاح عن طرق حفظها. تلك البيانات تتضمن
                الاسم ورقم الهاتف، وكذلك تبادل البيانات مع السيرفر
              </p>
              <h2>
                ث - التعديلات على سياسة الخصوصية

              </h2>
              <p>
                باي شيب تمتلك الحق بتعديل سياسة الخصوصية في أي وقت إذا اقتضت الحاجة لذلك وسوف يتم تحديث التاريخ لآخر
                تعديل أسفل هذه الصفحة. ونحن ندعو مستخدمينا الى متابعة هذه الصفحة بشكل دوري للبقاء على اطلاع بآخر
                التعديلات وكيف نقوم بحماية بياناتهم الشخصية. ومن خلال قرائتك لهذا الجزء فان مراجعة التعديلات
                والتحديثات هنا هو جزء من مسؤوليتك. </p>
              <div class="d-flex align-items-center gap-3 header-info">


                <h4 class="mb-0">
                  ج - الموافقة على الشروط المذكورة
                </h4>
              </div>
              <p class="my-4">
                باستخدامك لمواقع وأنظمة وتطبيقات باي شيب فإنك توافق على الشروط المذكورة هنا. إذا كنت غير موافق عليها
                بامكانك التوقف عن استخدام الانظمة المواقع والتطبيقات. آيضاً فان استمرارك في الاستخدام في حال وجود تعديل
                على سياسة الخصوصية يعتبر موافقة ضمنية على ما فيها
              </p>

              <h4> البيانات التي تم إنشاؤها أثناء استخدام خدماتنا
              </h4>
              <p>

                معلومات المعاملة: نقوم بجمع معلومات المعاملة المتعلقة باستخدام خدماتنا، بما في ذلك نوع الخدمات المطلوبة
                أو المقدمة وتفاصيل الطلب ومعلومات التسليم والاستلام والتاريخ والوقت الذي قدمت فيه الخدمة والمبلغ المحسوب
                والمسافة المقطوعة وطريقة الدفع ، وبيانات بوليصة الشحن ، وتتبع الشحنة ، موقع الفروع ، ،المستودعات .

                بيانات الاستخدام: نقوم بجمع بيانات حول كيفية تفاعل المستفيدين والمستخدمين مع خدماتنا. يتضمن ذلك بيانات
                مثل تواريخ الوصول وأوقاته، ونوع المتصفح، ومواقع أو خدمات الجهات الخارجية المستخدمة قبل التفاعل مع
                خدماتنا. في بعض الحالات، نجمع هذه البيانات من خلال ملفات تعريف الارتباط والبكسل والعلامات وتقنيات التتبع
                المماثلة التي تنشئ وتحافظ على معرفات فريدة.
              </p>
              <h1>

                شروط الخدمة باي شيب </h1>
              <h2>
                مرحبا بكم في باي شيب

              </h2>
              <p>


                هذه الصفحة (مع الوثائق المشار اليها فيه) تخبرك عن شروط الخدمة ("الشروط") التي توضح لك عند تسجيل شحنة او
                شراء اي منتجات أو أصناف من عناصر القائمة ("البنود") من موقعنا على الإنترنت أو تطبيق باي شيب على الأجهزة
                المحمولة "موبايل" والنقالة والخدمات ذات الصلة (كل يشار إلى "التطبيق")

                قبل ان تضع أي طلب. تم تحديث هذا المستند "شروط الخدمة" بتاريخ ١ ديسمبر 202٢ م.

                لديك بعض الحقوق القانونية عند طلب الخدمات باستخدام تطبيقنا وانظمتنا. لا تتأثر حقوقك القانونية بهذه
                الشروط، والتي تنطبق بالإضافة اليها ولا تحل محلها.  عندما تقوم باعداد حسابك الخاص لدى باي شيب، فأنك تؤكد
                موافقتك على هذه الشروط.

                تشكل هذه الشروط اتفاقية ملزمة قانونًيا ("الاتفاقية") بينك وبين باي شيب. تحكم هذه الاتفاقية استخدامك
                لتطبيق باي شيب، وموقع الويب، ومركز الاتصال ومنصة التكنولوجيا (يُشار إليها مجتمعةً بمنصة باي شيب"). </p>
              <h2>
                معلومات عن باي شيب
              </h2>
              <p>


                تقوم شركة مصادقة لتقنية نظم المعلومات المالكة والمشغلة لمنصة باي شيب بتقديم وتشغيل خدمات الوساطة
                والوكالة في تعميد عمليات الشحن والتوصيل حسب طلبات العملاء من شركات الشحن والتوصيل والخدمات اللوجستية في
                المملكة العربية السعودية (متمثلة بصيغة "الشركة" أو ضمائر الملكية "نحن" ، أو "لدينا" أو "باي شيب").
              </p>

              <h2>
                الغرض
              </h2>
              <p>

                تتمحور فكرة خدمات باي شيب بغرض ربط شركات الشحن والخدمات اللوجستية التي نتشارك معها عن طريق التطبيق الخاص
                باي شيب بواسطة شبكة الإنترنت وعرض كافة الخدمات الخاصة بتلك الشركات الشريكة بعرضها للعملاء والسماح لعملاء
                باي شيب بطلب وتسجيل الخدمات المحددة من طرفهم ومن ثم تأدية مهمة الشحن والتوصيل والتسليم ، وتسمى
                بـ("الخدمة"). حيث يمكنك تسجيل الشحنة لدى أحد الشركات الشريكة ، فان باي شيب يعمل كوكيل نيابة عن شركة
                الشحن والتوصيل والخدمات اللوجستية الشريك لإنهاء طلبك من النظام والتطبيق ، ولأداره تجربتك طوال عمليه
                إجراءات الطلب. وبمجرد الانتهاء من وضع الطلب، سيتم تسليم البنود الخاصة بك حسب الادخالات التي تمت من قبلكم
                . </p>
              <h2>حسابك</h2>
              <p>
                قبل ان تتمكن من وضع أوامر طلبات للبنود باستخدام التطبيق لدينا او صفحة الويب، تحتاج إلى فتح حساب لدى باي
                شيب. عند فتحك الحساب، يمكنك إنشاء كلمه مرور، أو طريقه تسجيل دخول آمنه، وقد تحتاج أيضا إلى تقديم معلومات
                شخصية بالإضافة لتفاصيل بطاقة الائتمان. يجب الاحتفاظ بأي كلمة مرور تقوم بإنشائها، أو طريقه تسجيل دخول
                آمنه أخرى ، وسريه ، ومنع الآخرين من الوصول إلى حساب البريد الكتروني أو الهاتف المحمول الخاص بك.

                إذا كان شخص آخر يستخدم هذه الطرق للوصول إلى حسابك، ستكون مسؤولا عن دفع اي من البنود التي تطلب , ونحن
                لسنا مسؤولين عن اي خسائر أخرى تعاني منها ، الا إذا كان الشخص الذي يستخدم كلمه المرور الخاصة بك حصل عليه
                لأننا لم نحافظ عليه أمنيا.

                يمكنك إغلاق حسابك في اي وقت عن طريق طلب القيام بذلك من خلال الاتصال بنا باستخدام بيانات الاتصال الواردة
                أعلاه. يجوز لنا تعليق وصولك إلى حسابك، أو إغلاقه بشكل دائم، إذا كنا نعتقد ان حسابك قد تم استخدامه من قبل
                شخص آخر غير مصرح له. يجوز لنا أيضا إغلاق حسابك بشكل دائم إذا كنت في رأينا أنك تسيء استخدام خدمتنا (علي
                سبيل المثال، عن طريق التقدم بطلب لاسترداد الأموال أو الإئتمان الذي لا نعتبره لك الحق به ، تقديم شكاوى
                متكررة غير معقولة ، أساءه معامله موظفينا ، أو أي سبب وجيه آخر) وسنقوم برد اي رصيد متبقي لحسابك الذي حصلت
                عليه بصوره صحيحه (لا تشمل العروض والأرصدة الممنوحة من طرف باي شيب لتحفيز العملاء كأرصدة مجانية) بواسطة
                فريق خدمه العملاء من خلال بطاقة الائتمان المسجلة الخاصة بك أو التحويل البنكي باستخدام التفاصيل البنكية
                (بشرط ان تكون قد زودتنا بها).

                جميع الأرصدة المتوفرة داخل محفظة حسابك الخاصة بك للاستخدام المستقبلي تعتبر نافذة، مع الأخذ بالإعتبار مدة
                الإستفادة من الرصيد المتبقي. تبقى نفاذية الصلاحية صالحة لمدة ستة أشهر فقط من تاريخ آخر استخدام أو إيداع،
                ومن ثم يتم حذف الرصيد كاملا دون الإلتزام بأية تعويضات
              </p>
              <h2> توفر الخدمة </h2>
              <p>

                كل شركة شحن او توصيل او خدمات لوجستية شريك تشمل تغطية على منطقه استلام وتسليم محدده، كما تم وصفها بمنصة
                باي شيب. قد تتغير منطقه التسليم هذه في اي وقت بسبب عوامل مثل الطقس، أو ضغط الطلب العالي على خدماتها. يتم
                هذا الأمر للتأكد من ان البنود تصل إلى الباب الخاص بعملائك. جميع شركات الشحن والتوصيل والخدمات اللوجستية
                الشريكة لدينا تقرر تحديد ساعات العمل الخاصة بها. وهذا يعني ان توافر خدماتنا، يعتمد على تلك الشركات
                الشريكة في منطقتك</p>
              <h2>الشحنات</h2>
              <p>
                عند وضع أي طلب من خلال التطبيق لدينا او صفحة الويب، قبل ان يتم تأكيد ذلك، فانه يحتاج إلى ان تكون مقبوله
                من طرفنا أو تلك الشركة الشريكة. سنرسل لك نصا كإشعارا إذا تم قبول طلبك ("اشعار التأكيد"). جميع البنود هي
                رهن بالتوافر. هذا العقد لتوريد اي بند كنت قد أمرت به ياتي إلى حيز التنفيذ عندما نرسل اشعار التاكيد. أنت
                مسؤول عن دفع ثمن جميع البنود المطلوبة باستخدام حسابك، وعن رسوم اضافية ذات الصلة ، وعن الامتثال لهذه
                الشروط ، حتى لو كنت قد طلبت البند لشخص آخر
              </p>
              <h2> الشحن/التوصيل </h2>
              <p>
                عند وضعك أمر للطلب ، سوف نوضح تتبع شحناتك حسب الإجراءات لحين وقت التسليم المقدرة للبند الخاص بك ، من
                خلال وضع النظام ،  لذلك يجب ان يكون عميلك متاحا لقبول الإستلام من الوقت التي تضع الطلب في المنصة. بالرغم
                مما لدينا من جهود وأفضل جهد في شركات الشحن والتوصيل والخدمات اللوجستية الشريكة ، لسوء الحظ ، إن الأمور
                قد لا تذهب دائما حسب الخطة وقد تتسم بعوامل مثل حركة المرور و/أو الأحوال الجوية والتي قد تمنعهم من تسليم
                الشحنات في الوقت المحدد.

                سوف نقوم بمحاولة التتوصيل في العنوان الذي المسجل من قبلكم عند وضعك للطلب. سوف تكون أنت المسؤول عن التأكد
                من أنك قمت بتضمين موقع دقيق لضمان وصول الشحنة الى عملائك. إذا كنت بحاجه إلى تغيير موقع التسليم لأي شحنة
                بعد ان كنت قد وضعت الطلب الخاص بك، فمن الممكن العمل على تغيير موقع التسليم إلى العنوان البديل بشرط ان
                تقوم بإشعار الناقل قبل ان يتم إرسال السائق اليك، والعنوان الجديد هو ضمن إطار الموقع السابق للطلب.

                سيظل بالإمكان محاسبتك علي قيمة الشحن والتوصيل في حاله التسليم الفاشل، إذا كنت قد تسببت في مثل هذا الفشل
                لأي سبب من الأسباب. تتضمن الأسباب التي قد تؤدي إلى فشل التسليم، لم يستقبل عميلكم الاتصال الهاتفي عند
                اتصال السائق بك ، باستخدام معلومات الاتصال التي قدمتها لنا ؛ و/ أو عدم التجاوب للاستلام، ايضاً بعض شركات
                الشحن في منصة باي شيب تفرض رسوم على ارجاع الشحنات للمرسل ايضاً في حال الفشل ، يجب مراعاة ذلك</p>
              <h2>
                الأسعار والدفع والعروض
              </h2>
              <p>
                أسعار بنود الشحن والتوصيل قد تتغير اثناء التصفح. ويمكن تغيير الأسعار في اي وقت وفقا لتقدير الناقل الشريك
                نظراً لبعد أو قرب المسافة من العميل لموقع طلب العميل النهائي أيضاً. نحن نحتفظ بالحق في فرض رسوم خدمة
                مدمجة مع قيمة الشحنة ، والتي قد تكون عرضه للتغيير ، وذلك لتوفير تقديم خدماتنا.

                جميع الأسعار المقدمة حسب الفاتورة الصادرة على تطبيق باي شيب او صفحة الويب تكون مطابقة للمطالبة حسب
                الفاتورة الخاصة بالناقل بالإضافة لضريبة القيمة المضافة. لن تؤثر اي تغييرات على الأوامر المؤكدة الموجودة،
                ما لم يكن هناك خطا تسعير واضح. ولن تؤثر التغييرات في الأسعار على أي أوامر في العملية والتي تظهر داخل
                المحفظة الخاصة بك ،

                إذا كان هناك خطا واضح في التسعير، فسوف نخطرك بأقرب وقت، ويمكن اجراء الدفع لجميع أسعار بنود الشحن
                والتوصيل علي التطبيق الخاص بنا او صفحة الويب ، بطاقات الائتمان ، أو الخصم من المحفظة الخاصة بالعميل لدى
                باي شيب، أو طرق الدفع الأخرى التي توفرها باي شيب. حالما يتم تاكيد طلبك، سيتم تفويض بطاقة الائتمان أو
                الخصم الخاصة بك والمبلغ الإجمالي المحدد للدفع (فيما يتعلق بجميع المدفوعات التي تتم بواسطة بطاقات
                الائتمان أو الخصم).

                يتم الدفع مباشره إلى باي شيب الذي يعمل كوكيل نيابة عن الناقل الشريك. ويمكن أيضا اجراء الدفع باستخدام
                رصيد الحساب.

                عندما يكون الدفع ببطاقة الدفع البنكية (بطاقات إئتمانية بنكيه) عبر الإنترنت ممكنا، سيتم توضيح ذلك على
                التطبيق الخاص بنا وصفحة الويب عند تعميد الطلبات.

                لن يكون مصرحا لنا بقبول الشيكات، وائتمانات التسليم ، نحن مخولون من قبل شركائنا النواقل لقبول الدفع نيابة
                عنهم ودفع ثمن اي بنود أو رسوم التوصيل لنا سوف تفي بالتزامك لدفع الثمن إلى الناقل الشريك.
              </p>
              <h2>
                مسؤوليتنا عن الخسارة أو الضرر الذي تعانيه
              </h2>
              <p>
                نحن مسؤولون امامك عن اي خسارة أو ضرر تعاني منه والتي تعتبر نتيجة متوقعه لخرقنا لهذه الشروط أو لعدم
                استخدام الرعاية المعقولة والمهارة فيما يتعلق باستخدامك لخدماتنا. نحن لسنا مسؤولين عن اي خسارة أو ضرر غير
                متوقع. الخسارة أو الضرر "متوقع" هو إذا كان من الواضح انه سيحدث ، أو إذا قلت لنا انه قد يحدث ، علي سبيل
                المثال إذا كنت تخبرنا عن ظروف معينه قد تزيد من الخسارة أو الضرر الناجم عن خرقنا لهذه الشروط قبل أن تضع
                الطلب. نحن لا نستبعد أو نحد من مسؤوليتنا تجاهك عن الخسارة أو الضرر حيث يكون من غير القانوني القيام بذلك
                ، و لسنا مسؤولين عن اي خسارة أو ضرر تعانيه نتيجة لخرقك الخاص لهذه الشروط ، أو نتيجة لأي فشل في أجهزه
                تكنولوجيا الحاسوب أو برامج أخرى عدى الفشل في تطبيقاتنا
              </p>
              <h2> شروط أخرى </h2>
              <p>
                -إذا كان لدينا أو لديك اي حق لفرض هذه الشروط ضد الآخر ، فان هذا الحق لن يضيع حتى لو كان الشخص الذي لديه
                الحق في التاخير إنفاذه ، أو يتنازل عن حقه في إنفاذه في اي حال من الحالات. إذا قررت محكمة أو سلطة أخرى أن
                أي جزء من هذه الشروط غير قانوني أو غير فعال ، فان بقية الشروط لن تتاثر وستظل ساريه المفعول.

                -قد نقوم بتغيير هذه الشروط من وقت لآخر. إذا قمنا بإجراء أي تغييرات تؤثر على حقوقك فيما يتعلق بخدمتنا ،
                فسوف نخطرك. لن تؤثر التغييرات على الشروط على أي أوامر قمت بوضعها في المكان الذي أرسلنا فيه إشعار
                التأكيد. تخضع هذه الشروط لقانون المملكلة العربية السعودية ، ويمكنك رفع الإجراءات القانونية المتعلقة
                بخدمتنا في محاكم السلطة المختصة. تعتبر اللغة العربية في هذا المستند هي اللغة المعتمدة بالرجوع إلى الشروط
                الموضحة أعلاه.

                - إذا ُاعدت الشحنة غير مقبولة 2 أو تعذر تحديد المستلم أو تحديد موقعه بشكل معقول أو رفض المستلم
                التسليم أو رفض دفع الرسوم أو رسوم الشحن الأخرى فأن شركائنا شركات الشحن والخدمات اللوجستية يبذلون
                جهوداً معقولة لإعادة الشحنة إلى الشاحن بتكلفة الشاحن ، و في حال رأت شركات الشحن والتوصيل صعوبة ذلك
                فانه يجوز لها الإفراج عن الشحنة أو التخلص منها أو بيعها دون تحمل أي مسئولية من أي نوع تجاه الشاحن
                أو أي شخص آخر مع تطبيق العائدات عل الرسوم الجمركية الشحن والتكاليف الإدارية ذات الصلة مع رصيد عائدات
                البيع لتعاد إلى الشاحن

                - يقع على عاتق الشاحن الاطلاع والموافقة على شروط واحكام شركات الشحن والخدمات اللوجستي وتعتبر هي المرجع
                بالاتفاق في تقديم خدمة الشحن والتوصيل ، وباستخدامة خدمات باي شيب يعد مطلعاً وموافقاً على تفاصيل تقديم
                تلك الخدمات ..
              </p>
            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <div class="mb-5 px-5">
            <div class="box mb-5" customer-hash="">
              <div class="faq-header">الأسئلة الشائعة </div>

              <div class="faq-content">
                <div class="faq-question">
                  <input id="q1" type="checkbox" class="panel">
                  <label for="q1" class="panel-title"> هل يمكنني إلغاء أو تعديل معلومات الشحنة؟ </label>
                  <div class="panel-content">
                    <p> نعم، يمكن إلغاء أو تعديل الشحنة قبل استلامها من شركة الشحن وفي حاله الإلغاء بعد تسليمها لشركة
                      الشحن
                      يتحمل المرسل قيمه الشحن ويخضع التعديل لشروط وأحكام شركة الشحن </p>
                  </div>
                </div>

                <div class="faq-question">
                  <input id="q2" type="checkbox" class="panel">
                  <label for="q2" class="panel-title"> ماهي الشحنات الممنوع شحنها؟ </label>
                  <div class="panel-content">
                    <p> نمنع كل المحظورات والممنوعات الخاضعة لأنظمة وقوانين المملكة العربية
                      السعودية </p>
                  </div>
                </div>

                <div class="faq-question">
                  <input id="q3" type="checkbox" class="panel">
                  <label for="q3" class="panel-title">هل تتحمل pay ship التلف والتاخير ؟ </label>
                  <div class="panel-content">
                    <p> “باي شيب” ليست مسؤوله عن الخسائر والأضرار حيث أن باي شيب هي وسيط لادارة العملية اللوجستية
                      والمدفوعات
                      وليست شركة شحن، وعن تأخر الشحنات : “باي شيب” سوف تبذل كل جهد ممكن لتسليم الشحنة الخاصة بك ولكن
                      يرجى
                      مراعاة أنها ليست مسؤولية وسنحاسب شركات الشحن التي ثبت ضعف أدائها وإقفال حسابها لدى باي شيب
                    </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q4" type="checkbox" class="panel">
                  <label for="q4" class="panel-title"> ما هو الحجم المسموح للشحن؟ </label>
                  <div class="panel-content">
                    <p>

                      ٣٠ كيلو كحد اقصى ، ووفق المعادلة التالية :

                      الطول x العرض الارتفاع (مقسوماً على ٥٠٠٠)

                      وهناك شركات شحن اقل من ذلك ، وهذا سيكون واضح في بيانات شركة الشحن عند الاختيار

                    </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q5" type="checkbox" class="panel">
                  <label for="q5" class="panel-title">  هل يجب علي تغليف الشحنة؟ </label>
                  <div class="panel-content">
                    <p>
                      المرسل مسئول عن حماية الشحنة بحيث يكون تغليفها مناسب لمحتواها ويسمح بلصق البوليصة عليها ، ويمكن
                      الحصول على تغليف شركة الشحن اذا كان تسليم الشحنات من خلال فرع شركة الشحن وليست استلام الشركة من
                      العميل ،او ان الناقل يوفر أدوات التغليف
                    </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q6" type="checkbox" class="panel">
                  <label for="q6" class="panel-title">  هل الأسعار موحدة وثابتة؟ </label>
                  <div class="panel-content">
                    <p>
                      الأسعار خاضعة لتعديلات شركات الشحن بالتنسيق مع باي شيب ولكن باي شيب حريصة على توفر الخيارات
                      والبدائل المناسبة والاسعار المنافسة والاقل
                    </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q7" type="checkbox" class="panel">
                  <label for="q7" class="panel-title">  هل يجب علي طباعه بوليصة الشحن؟ </label>
                  <div class="panel-content">
                    <p>
                      لا بد من طباعة البوليصة لضمان أفضل مستوى خدمة ، او تركها لشركة الشحن في حال التسليم الى فرع مبيعات
                      شركة الشحن
                    </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q8" type="checkbox" class="panel">
                  <label for="q8" class="panel-title">  هل هناك عدد معين من الطلبات لإتمام الشحن من خلال باي شيب ؟
                  </label>
                  <div class="panel-content">
                    <p>
                      باي شب لا تشترط أي حد معين من الطلبات ، ولكن يجب ان لايقل عن ٥ طلبات
                    </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q9" type="checkbox" class="panel">
                  <label for="q9" class="panel-title">  ما المقصود بقيمة الشحنة؟
                  </label>
                  <div class="panel-content">
                    <p>
                      قيمة الشحنة هي قيمة البضاعة او المنتج المراد شحنه بغرض الإفصاح للتامين وفي حاله الدفع عند
                      الاستلام  </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q10" type="checkbox" class="panel">
                  <label for="q10" class="panel-title">  هل تتوفر خيارات شحن مبردة؟
                  </label>
                  <div class="panel-content">
                    <p>
                      نعم </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q11" type="checkbox" class="panel">
                  <label for="q11" class="panel-title">  هل يوجد شحن خارج المملكة؟ </label>
                  <div class="panel-content">
                    <p>
                      نعم ، وحالياً قيد التطوير </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q12" type="checkbox" class="panel">
                  <label for="q12" class="panel-title">  متى يتم تحصيل مبالغ الدفع عند الاستلام؟ </label>
                  <div class="panel-content">
                    <p>
                      حسب سياسة كل شركة شحن مرتبطة في منصة باي شيب ، وذلك موضح عند اختيار الناقل المناسب من ضمن
                      المعلومات قبل التعميد . </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q13" type="checkbox" class="panel">
                  <label for="q13" class="panel-title">  ماهي المدن التي تدعم الدفع عند الاستلام؟ </label>
                  <div class="panel-content">
                    <p>
                      حسب إمكانية شركة الشحن المختارة ، وذلك موضح عند اختيار الناقل المناسب من ضمن المعلومات قبل
                      التعميد. </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q13" type="checkbox" class="panel">
                  <label for="q13" class="panel-title">  هل يتوفر الدفع عند الاستلام؟ </label>
                  <div class="panel-content">
                    <p>
                      نعم وبحسب شركة الشحن. </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q14" type="checkbox" class="panel">
                  <label for="q14" class="panel-title">  ماهي المدن اللي المغطاة ؟ </label>
                  <div class="panel-content">
                    <p>
                      باي شيب يرتبط ويوفر شركات شحن وخدمات لوجستية توفر خيارات الشحن والخدمات اللوجستية لجميع مدن
                      ومحافظات المملكة. </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q15" type="checkbox" class="panel">
                  <label for="q15" class="panel-title">هل باي شيب يتطلب إشتراك مختلف؟ </label>
                  <div class="panel-content">
                    <p>
                      باي شيب يقدم خدماته للمستفيدين من الخدمات اللوجستية بدون رسوم اشتراك وبدون أي رسوم للتسجيل
                      والتأسيس </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q16" type="checkbox" class="panel">
                  <label for="q16" class="panel-title">هل باي شب شركة شحن؟ </label>
                  <div class="panel-content">
                    <p>


                      لا، باي شب حل تقني يوفر لك الربط مع شركات الشحن والخدمات اللوجستية وإدارة العمليات اللوجستية
                      ومدفوعاتها لديكم بعقد إلكتروني واحد، وبتفعيل سريع تستطيع من خلاله تتابع شحناتك، فواتيرك، وتحصيلات
                      الدفع عند الاستلام من مكان واحد.  </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q17" type="checkbox" class="panel">
                  <label for="q17" class="panel-title">ماهي الطريقة لإنشاء الشحنه </label>
                  <div class="panel-content">
                    <p>
                      -متزامنه المتجر او لوحة الطلب الداخلي مع نظام pay ship
                    </p>
                    <p>
                      – توصيل المتجر والنظام الداخلي وتنزيل جميع الطلبات بنقرة واحده .
                    </p>
                    <p>
                      -تحميل ملف اكسل للطلبات </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q18" type="checkbox" class="panel">
                  <label for="q18" class="panel-title">ماهي خطوات إتمام رحلة الاختيار والدفع الشحن ؟ </label>
                  <div class="panel-content">
                    <p>
                      1 - اوجد المادة المراد شحنها من خلال

                      ربط نظامك او متجرك مع المنصة سواء من سلة او زد او من خلال برمجياتك الخاصة

                      او تحميل ملف اكسل للطلبات

                      او تسجيل الشحنات بشكل يدوي </p>
                    <p> 2 - حدد شركة الشحن الظاهره وفاضل بينها من

                      خلال المعلومات التفصيلية . </p>
                    <p> 3 - الان يمكنك الاطلاع على الملخص والدفع من خلال المحفظة او شحن رصيد المحفظة ، ثم بعد هذه الخطوة
                      سيصل الى البريد الالكتروني تفصيل مُنسق لتجهيز الشحنات لمناديب الشحن بإمكان موظفين المستودع لديك
                      تنفيذ التجهيز من خلال رسالة البريد التي ستصل .



                      *اطبع بوليصة الشحن من المستودع الخاص بك لكل الطلبات او المانيفست



                      *انتظر تواصل مندوب الشركة للتواصل معك او توجه لاقرب فرع شركة الشحن للتسليم اذا كانت شركة الشحن
                      لاتدعم الاستلام من العميل .

                    </p>
                  </div>
                </div>
                <div class="faq-question">
                  <input id="q19" type="checkbox" class="panel">
                  <label for="q19" class="panel-title">هل باي شيب يتطلب إشتراك مختلف؟ </label>
                  <div class="panel-content">
                    <p>
                      باي شيب يقدم خدماته للمستفيدين من الخدمات اللوجستية بدون رسوم اشتراك وبدون أي رسوم للتسجيل
                      والتأسيس </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
