/* -----------Why Page------------ */
.landing-why {
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.landing-why::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2c296373;
}

.landing-why h4 {
  position: relative;
  font-weight: 700;
  font-size: 90px;
  line-height: 100px;
  color: white;
  z-index: 10;
}

.about-line {
  background: none;
  border: none;
  font-size: 30px;


}

.about-line.active {
  background: none;
  border-bottom: 2px solid #16af97;
  border-radius: 0;
}

@media (max-width: 992px) {
  .landing-why {
    height: calc(80vh - 90px);
  }
}

@media (max-width: 768px) {
  .landing-why {
    display: grid;
    place-items: center;
  }

  .landing-why h4 {
    font-size: 70px;
    line-height: 80px;
  }
}

@media (max-width: 476px) {
  .landing-why {
    padding: 0 !important;
  }

  .landing-why h4 {
    font-size: 45px;
    line-height: 50px;
  }
}

.container-fluid {
  max-width: 1320px;
  margin-inline: auto;
}

/* Right */
.section-side {
  flex: 0.26;
  border-left: 1px solid;
  border-color: #d9d9d9;
}

.section-side h2:last-child {
  margin-right: calc(12px + 1.5rem);
}

/* Left */
.section-content {
  flex: 0.74;
}

.section-content .box img {
  width: 40px;
}

.section-content .box .header-info h4 {
  font-size: 28px;
  font-weight: 700;
}

.section-content .box p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 40px;
  text-align: right;
  letter-spacing: -0.03em;
  color: #555555;
}

.section-content .box ul {
  color: var(--main-dark);
}

.section-content .box ul li b {
  font-weight: 500;
}

@media (max-width: 1200px) {
  .section-side h3 {
    font-size: 22px !important;
  }

  .section-side h4 {
    font-size: 22px !important;
  }

  .section-side {
    flex: 0.3;
  }

  .section-content {
    flex: 0.7;
  }
}

@media (max-width: 992px) {
  .section-side {
    padding-bottom: 1.5rem;
    padding-inline: 0 !important;
    margin-bottom: 1.5rem;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid;
    border-color: #d9d9d9;
  }

  .section-content .px-5 {
    padding-inline: 0 !important;
  }

  .section-side,
  .section-content {
    flex-basis: 100%;
  }
}

.faq-header {
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked~.panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked~.plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}